<div class="header">
    <div class="header-container">
        <p>Howdy, {{userName}}. We're glad to have you back.</p>

        <form action="/api/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>