<div class="dashboard-sidebar">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/api/users">Users</a></li>
            <li><a href="/api/sites">Sites</a></li>
            <li><a href="/api/pages">Pages</a></li>
            <li><a href="/api/custom-fields">Custom Fields</a></li>
            <li><a href="/api/settings">Settings</a></li>
        </ul>
    </nav>
</div>