@use "../partials/variables" as *;

@mixin flex($direction, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
}

@mixin mobile {
    @media only screen and (max-width: $mobile ) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: $tablet ) {
        @content;
    }
}

@mixin body {
    font-size: $body_font_size;
    margin: 0;
    text-align: justify;
}

@mixin site_size($width : $desktop_size) {
    max-width: $width;
    margin: auto;
}