// Dimensions
$mobile: 750px;
$tablet: 1000px;

// Font Sizes & Colors
$body_font_size: 10px;
$font_primary_color: #000;
$secondary_color: #fff;

// Font families
$Montserrat: "Montserrat", serif;

// Site Size
$desktop_size: 120rem;

// Sidebar
$sidebar-primary-color: #2c3e50;
$sidebar-secondary-color: #34495e;