{{! This extends from layouts/main.hbs }}
{{#> layout 'main'}}
{{!-- Page-specific content goes here --}}

<div class="main-content">
    <h1>Welcome to IWasBoredAfterWork CMS Dashboard!</h1>
</div>


{{/layout}}